In [1]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns

In [22]:
initial = pd.read_excel("Results.xlsx",sheet_name="Initial",header=2,usecols=[0,1,2,3,4])
initial.tail(10)
initial = initial[0:29957]
initial

              Date Sampled               Address 1st Draw 2-3 Minute 5 Minute
0      2019-10-16 00:00:00   1000XX S OAKLEY AVE        3         10      9.6
1      2019-02-23 00:00:00  100XX S ARTESIAN AVE      9.2        4.3      2.5
2      2019-05-03 00:00:00  100XX S ARTESIAN AVE      1.1        2.9      1.3
3      2019-05-05 00:00:00  100XX S ARTESIAN AVE      1.2        2.6      < 1
4      2021-11-30 09:00:00     100XX S AVENUE L       3.6         16      4.6
...                    ...                   ...      ...        ...      ...
29952  2018-06-04 00:00:00        XX W GOETHE ST      < 1        < 1      < 1
29953  2016-08-09 00:00:00      XX W SCHILLER ST      < 1        < 1      < 1
29954  2019-04-17 00:00:00      XX W SCHILLER ST      < 1        < 1      < 1
29955  2020-02-19 00:00:00      XX W SCHILLER ST      4.1        3.6      1.2
29956  2020-11-01 00:00:00      XX W SCHILLER ST      < 1        < 1      < 1

[29957 rows x 5 columns]

In [21]:
sequential = pd.read_excel("Results.xlsx",sheet_name="Sequential",header=2)
sequential = sequential[0:1808]
sequential.tail(10)

,Date Sampled,Address,1st Draw,2nd Draw,3rd Draw,4th Draw,5th Draw,6th Draw,7th Draw,8th Draw,9th Draw,10th Draw,11th Draw,3 Minute,5 Minute,7 Minute,10 Minute,15 Minute,20 Minute
1798,2016-08-22 00:00:00,99XX S Prospect Ave,7.76,10.8,10.1,7.81,7.8,10.3,15,16.2,15.9,15.4,18.3,7.04,NaN,NaN,NaN,NaN,NaN
1799,2020-03-06 00:00:00,99XX S Sangamon St,5.75,6.5,6.69,7.8,7.52,7.52,7.59,6.79,5.95,5.16,7.52,5.16,2.06,1.32,1.16,NaN,NaN
1800,2018-09-18 00:00:00,9XX N Damen Ave,13.9,14,11.9,11.1,9.48,7.72,6.6,6.45,6.23,5.79,4.4,4.07,NaN,NaN,NaN,NaN,NaN
1801,2021-09-21 00:00:00,9XX N Fairfield Ave,6.61,8.73,10.2,13.9,20.5,21.9,17.8,12.4,18.1,22.2,13.2,4.95,4.05,3.84,3.56,NaN,NaN
1802,2019-02-05 00:00:00,9XX W Belle Plaine,1.74,1.34,1.32,1.1,1.88,1.25,<1,<1,<1,1.1,<1,1.24,1.42,1.8,<1,NaN,NaN
1803,2022-01-26 00:00:00,9XX W Gunnison St,6.2,7,7.2,8.9,9.8,9.7,9.4,9.4,12,22,18,2.5,2,2.1,1.9,NaN,NaN
1804,2019-01-19 00:00:00,XX S Oakley,2.01,2.38,3.07,3.74,3.94,4.15,4.08,4.43,4.47,4.63,1.01,<1,NaN,NaN,NaN,NaN,NaN
1805,2021-11-22 00:00:00,XX W 78Th St,11,11.4,8.06,8.49,21.4,28.6,29.3,19.7,18.1,17.2,7.06,1.67,NaN,NaN,NaN,NaN,NaN
1806,2021-10-28 00:00:00,XX W 81St St,4.41,5.43,4.96,3.87,4.8,4.93,9.11,8.83,10.4,12.2,2.37,1.16,NaN,NaN,NaN,NaN,NaN
1807,2019-06-18 00:00:00,XX W Burton Pl,5.79,5.23,5.38,5.38,5.16,5.3,6.11,7.97,8.74,9.27,6.71,9.46,9.72,3.19,2.38,NaN,NaN

In [23]:
combined = initial.merge(sequential, how="left",on=["Date Sampled","Address"])
combined

,Date Sampled,Address,1st Draw_x,2-3 Minute,5 Minute_x,1st Draw_y,2nd Draw,3rd Draw,4th Draw,5th Draw,...,8th Draw,9th Draw,10th Draw,11th Draw,3 Minute,5 Minute_y,7 Minute,10 Minute,15 Minute,20 Minute
0,2019-10-16 00:00:00,1000XX S OAKLEY AVE,3,10,9.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-02-23 00:00:00,100XX S ARTESIAN AVE,9.2,4.3,2.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-05-03 00:00:00,100XX S ARTESIAN AVE,1.1,2.9,1.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-05-05 00:00:00,100XX S ARTESIAN AVE,1.2,2.6,< 1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-30 09:00:00,100XX S AVENUE L,3.6,16,4.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29954,2018-06-04 00:00:00,XX W GOETHE ST,< 1,< 1,< 1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29955,2016-08-09 00:00:00,XX W SCHILLER ST,< 1,< 1,< 1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29956,2019-04-17 00:00:00,XX W SCHILLER ST,< 1,< 1,< 1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29957,2020-02-19 00:00:00,XX W SCHILLER ST,4.1,3.6,1.2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29958,2020-11-01 00:00:00,XX W SCHILLER ST,< 1,< 1,< 1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN